<!DOCTYPE html>
<html lang="en">
<!--Head-->
<%- include('../partials/head.ejs', {titulo: "Principal" , estilo: "index.css" })%>

    <body>
        <!--Header-->
        <%- include('../partials/header.ejs')%>
            <!--Main-->
            <main >
                <p class="prueba">probando el principal</p>
            </main>
            <!--Footer-->
            <%- include('../partials/footer.ejs')%>
    </body>

</html>