<!DOCTYPE html>
<html lang="en">
<!--Head-->
<%- include('./partials/head.ejs', {titulo: "E-404" , estilo: "error.css" })%>
<body>
    <main>
        Aqui se va a mostrar el error 404
    </main>
</body>
</html>