<!DOCTYPE html>
<html lang="en">
<!--Head-->
<%- include('../partials/head.ejs', {titulo: "Administrador" , estilo: "admin.css" })%>

    <body>
        <!--Header-->
        <%- include('../partials/header.ejs')%>
            <!--Main-->
            <main>
                <section>
                    <img class="imagen-fondo" src="/img/admin/fondo-menu.jpg" alt="fondo-menu">
                </section>
            </main>
            <!--Footer-->
            <%- include('../partials/footer.ejs')%>
    </body>

</html>